body {
  margin: auto 0;

  background-color: rgb(42, 9, 61);
  font-family: sans-serif;
}

header#app-header {
  margin: 20px 15px 78px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  border-bottom: 2px solid rgba(255, 255, 255, 0.219);

  h1 {
    margin: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    color: wheat;
  }

  @media screen and (max-width: 769px) {
    h1 {
      font-size: 18px;
    }
  }

  .search-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    #search-bar {
      padding: 0 20px;
      height: 34px;

      background-color: rgba(255, 255, 255, 0.219);
      border-radius: 34px;
      border: none;
      color: white;
    }

    .submit-search-button {
      width: 35px;
      height: 35px;

      margin-left: 10px;

      border: none;
      background: none;
      cursor: pointer;

      .search-glass {
        width: 25px;
        height: 25px;

        color: white;
      }
    }
  }
}

.divider {
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.219);
  width: 100%;
}

.hero-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 45px;
  max-width: 100%;
  max-height: 100%;

  gap: 25px;

  & .hero-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    flex: 0 0 20%;
    min-width: 275px;

    padding: 25px 25px;

    background-color: #390b5c;
    border-radius: 12px;
    box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.24);
    transition: background-color 280ms linear 0s;
    transition: box-shadow 280ms linear 0s;
    transition: transform 0.2s;

    &:hover {
      background-color: #5c0d99;
      box-shadow: 0 5px 8px 5px rgba(120, 5, 187, 0.26);
      transform: scale(1.1);
    }

    & header.hero-header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      gap: 20px;
    }

    & img.avatar-hero-card {
      margin: 0;
      width: 56px;
      height: 56px;
      border-radius: 56px;
    }

    & h5.hero-name-card {
      margin: 0;

      font-size: 32px;
      line-height: 36px;
      color: white;
    }

    & .hero-description-card {
      margin-top: 10px;

      font-size: 16px;
      line-height: 1.2;
      color: white;
      text-align: left;
    }

    & .btn-see-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;

      width: 148px;
      height: 40px;

      margin-top: 10px;
      padding: 2px 10px;

      border: 2px solid rgba(255, 255, 255, 0.219);
      border-radius: 40px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      text-align: center;
      transition: border-color 280ms linear 0s;

      &:hover {
        border-color: white;
      }
    }
  }
}
