body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(42, 9, 61);
  font-family: sans-serif;
  h1 {
    padding-left: 5em;
    color: white;
    text-transform: uppercase;
  }
  li {
    list-style-type: none;
  }
  img {
    border-radius: 50%;
    box-shadow: 2px 2px 2px #0000003d;
  }
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  .edit-style-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;

    width: 148px;
    height: 40px;

    margin-top: 10px;
    padding: 2px 10px;

    border: 2px solid rgba(255, 255, 255, 0.219);
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: border-color 280ms linear 0s;

    &:hover {
      border-color: white;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .card {
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;
    background-color: #390b5c;
    box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      padding-top: 2em;
    }
    &__name {
      text-transform: capitalize;
      color: white;
    }

    .divider {
      margin-top: 15px;
      background-color: rgba(255, 255, 255, 0.219);
      width: 100%;
    }
    &__shortDesc {
      width: 70%;
      color: white;
      font-size: smaller;
      padding-bottom: 2em;
    }
    &__longDesc {
      width: 90%;
      padding-bottom: 5em;
      color: white;
    }
  }
}
