body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(108,9,121);
    background: linear-gradient(90deg, rgba(108,9,121,1) 35%, rgba(0,22,255,1) 100%);
    h1{
        padding-left: 5em;
        color: white;
        text-transform: capitalize;
        text-shadow: 5px 2px 2px black ;
        
    }
    li{
        list-style-type: none;
    }
    img{
        border-radius: 50%;
        box-shadow: 5px 2px 2px black ;

    }
    a{
        padding: 1em;
        margin: 1em;
        border: solid 1px white;
        border-radius: 2px;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        background-color: #6c0979;
        box-shadow: 5px 2px 2px black ;
        transition: 0.4s;
        opacity: .5;
        &:hover{
            opacity: 1;
            background-color: #0016ff;
        }

    }
    .navbar{
        display:flex;
        justify-content: center;
    }
    .card{
        margin: 0 auto;
        border-radius: 10px;
        width: 80%;
        background-color: darkslategrey;
        box-shadow: 10px 5px 5px black ;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
            padding-top: 2em;

        }
        &__name{
            text-transform: capitalize;
            color: white;

        }
        &__shortDesc{
            width: 70%;
            color: lightgray;
            font-size: smaller;
            padding-bottom: 2em;
        }
        &__longDesc{
            width: 90%;
            padding-bottom: 5em;

        }

    }


}